<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs')  %> 
</head>
<body>
   <%- include('partials/header.ejs')  %> 


   <h1 class="title">Usuários Cadastrados</h1>

   <section class="users">
        <% users.forEach(user => { %>
            <div class="user">
                <div class="userImg">
                    <img src=<%=  user.image %>  alt="">
                </div>
                
                <div class="userInfo">
                    <h3>Usuário:
                        <br>
                        <span><%= user.name%> </span>
                    </h3>
                    <h3>Idade:
                        <br>
                        <span><%= user.age %> anos</span>
                    </h3>
                </div>
            </div>
        <% }) %>
   </section>
</body>
</html>